<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <mat-toolbar color="primary">
            <span>
                Предузеће
            </span>
            <div class="spaceHorizontal">
                <button mat-flat-button (click)="logout()">Log out</button>
                <button mat-flat-button type="submit" (click)="promeniLozinku()">Promeni lozinku</button>
            </div>
           
            <div class="spacer"></div>
            <a mat-button *ngIf="korisnik.prihvaceno" class="selected" (click)="predji_na_pocetnu()">Почетна</a>  
            <a mat-button *ngIf="korisnik.prihvaceno" (click)="predji_na_pregled_izvestaja()">Преглед извештаја</a>
            <a mat-button *ngIf="korisnik.prihvaceno" (click)="predji_na_izdavanje_racuna()">Издаванје рачуна</a> 
            <a mat-button *ngIf="proveri_korisnika() && korisnik.prihvaceno" (click)="predji_na_stolove()">Распоред столова</a>
            <a mat-button *ngIf="korisnik.prihvaceno" (click)="predji_na_raspored()">Распоред артикала</a>
            <a mat-button *ngIf="korisnik.prihvaceno" (click)="predji_na_robe_i_usluge()">Робе и услуге</a>
            <a mat-button *ngIf="korisnik.prihvaceno" (click)="predji_na_narucioce()">Наручиоци</a>
            <a mat-button *ngIf="korisnik.prihvaceno" (click)="predji_na_podatke()">Подаци о предузећу</a>
        </mat-toolbar>

        <div class="centerItem">
            <mat-card class="podaci">
                <mat-card-title>
                    Статус предузећа
                    <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="cardContent">
                    <div *ngIf="korisnik.prihvaceno">
                        <h2 mat-header>Предузеће је прихваћено и можете наставити са радом.</h2>
                    </div>
                    <div *ngIf="!korisnik.prihvaceno">
                        <h2 mat-header>Да бисте наставили са радом, Ваше предузеће мора првенствено бити прихваћено од стране администратора.</h2>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>