<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <mat-toolbar color="primary">
            <span>
                Предузеће
            </span>
            <div class="spaceHorizontal">
                <button mat-flat-button (click)="logout()">Log out</button>
                <button mat-flat-button type="submit" (click)="promeniLozinku()">Promeni lozinku</button>
            </div>
            <div class="spacer"></div>
            <a mat-button (click)="predji_na_pocetnu()">Почетна</a>  
            <a mat-button (click)="predji_na_pregled_izvestaja()">Преглед извештаја</a>
            <a mat-button (click)="predji_na_izdavanje_racuna()">Издаванје рачуна</a> 
            <a mat-button class="selected" *ngIf="proveri_korisnika()" (click)="predji_na_stolove()">Распоред столова</a>
            <a mat-button (click)="predji_na_raspored()">Распоред артикала</a>
            <a mat-button (click)="predji_na_robe_i_usluge()">Робе и услуге</a>
            <a mat-button (click)="predji_na_narucioce()">Наручиоци</a>
            <a mat-button (click)="predji_na_podatke()">Подаци о предузећу</a>
            
        </mat-toolbar>

        <div class="centerItem">
            <mat-card class="podaci">
                <mat-card-title>
                    Распоред столова
                    <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="cardContent">
                    <div class="rowDiv">
                        <mat-form-field appearance="fill">
                            <mat-label>Изаберите објекат</mat-label>
                            <mat-select [(ngModel)]="objekat">
                                <mat-option *ngFor="let obj of moji_objekti" value="{{obj.naziv}}">
                                {{obj.naziv}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Изаберите простор</mat-label>
                            <mat-select [(ngModel)]="prostor">
                                <mat-option value="basta">Башта</mat-option>
                                <mat-option value="sala">Сала</mat-option>
                            </mat-select>
                        </mat-form-field>
                    <form>
                        <button mat-flat-button class="dugme" (click)="ucitaj_prostor()" >Учитај</button>
                    </form>
                    </div>
                    <!--<div class="rowDiv">
                        <mat-form-field appearance="fill">
                            <mat-label>Унесите величину стола</mat-label>
                            <input name="velicina" type="number" matInput placeholder="Унесите величину" 
                            [(ngModel)]="velicina" required #greskaVelicina="ngModel">
                            <mat-error *ngIf="greskaVelicina.invalid">
                                Морате попунити поље
                            </mat-error>
                        </mat-form-field>
                        <mat-radio-group  aria-label="Изаберите опцију" [(ngModel)]="tip">
                            <div class="radioDiv">
                                <mat-radio-button value="krug">Округли</mat-radio-button>
                                <mat-radio-button value="pravougaonik">Правоугаони</mat-radio-button>
                            </div>
                          
                        </mat-radio-group>
                        <button mat-flat-button class="dugme">Додај сто</button>
                       
                    </div>
                     !-->
                   <canvas class="canvas" width="1160px" height="600"  id="canvas">

                   </canvas>
                </mat-card-content>
            </mat-card>
        </div>
      
        <script src="" async defer></script>
    </body>
</html>